#root {
  margin: 0 auto;
  text-align: center;
}

.mainMemeContainer {
  height: 100vh;
  font-family: "Karla", sans-serif;
}

.memeHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1.5rem 3rem;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.memeHeader > img {
  height: 100%;
  max-height: 3rem;
}

.memeHeader > h1 {
  margin-right: auto;
  font-size: 1.5rem;
}

.memeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.form {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 1rem;
  margin-bottom: 17px;
}

.form,
.meme > img {
  width: 100%;
  max-width: 35rem;
}

.form input,
.form button {
  border-radius: 0.3rem;
}

.form input {
  width: 100%;
  margin-top: 0.5rem;
  text-indent: 0.5rem;
  border: 1px solid #d5d4d8;
}

.form button {
  grid-column: 1 / -1;
  color: white;
  cursor: pointer;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
}

.form input,
.form button {
  min-height: 2.5rem;
}

.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meme > img {
  height: auto;
  border-radius: 0.5rem;
}

.meme span {
  position: absolute;
  padding-inline: 5px;
  margin-block: 15px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
